In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from IPython.display import Image
from scipy.stats import ttest_ind, ttest_ind_from_stats

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#read in csv file
df = pd.read_csv('pct-wearing-masks-table.csv',header=6)
df.head()

   [run number] turtle-shape  density-people  ...  [step]  pct-deaths  pct-affected
0             2       person             300  ...       0         0.0           5.0
1             7       person             300  ...       0         0.0           5.0
2             9       person             300  ...       0         0.0           5.0
3             6       person             300  ...       0         0.0           5.0
4             8       person             300  ...       0         0.0           5.0

[5 rows x 7 columns]

In [ ]:
#create new dataframe that holds just the numbers at the end of the run (t = 60)
df1 = df[(df['[step]'] == 60)]

In [ ]:
#pivot table of mask wearing vs percent affected over full time period
pd.pivot_table(df, index=['pct-wearing-masks'], 
               values = ['pct-affected'], aggfunc = [np.mean])

                          mean
                  pct-affected
pct-wearing-masks
0                    79.171640
20                   75.796601
40                   74.638007
60                   63.949679
80                   45.319220
100                   9.954145

In [ ]:
import scipy.stats as stats

#one-way anova for densities vs pct-affected
affected0 = df[df['pct-wearing-masks'] == 0]['pct-affected']
affected20 = df[df['pct-wearing-masks'] == 20]['pct-affected']
affected40 = df[df['pct-wearing-masks'] == 40]['pct-affected']
affected60 = df[df['pct-wearing-masks'] == 60]['pct-affected']
affected80 = df[df['pct-wearing-masks'] == 80]['pct-affected']
affected100 = df[df['pct-wearing-masks'] == 100]['pct-affected']
stats.f_oneway(affected0, affected20, affected40, affected60, affected80, affected100)

F_onewayResult(statistic=76676.14384309023, pvalue=0.0)

Because the pvalue for our ANOVA analysis is greater than our alpha value of 0.05, we cannot say that there is a statistically significant difference between the percentage of people affected by the virus for varying percentages of mask wearing.

In [ ]:
#pivot table of mask percentage vs deaths at the end of the run
pd.pivot_table(df1, index=['pct-wearing-masks'], 
               values = ['pct-deaths'], aggfunc = [np.mean])

                        mean
                  pct-deaths
pct-wearing-masks
0                   9.666667
20                  8.666667
40                  8.333333
60                  5.733333
80                  4.200000
100                 1.866667

In [ ]:
#one-way anova for masks vs pct-deaths
affected0 = df[df['pct-wearing-masks'] == 0]['pct-deaths']
affected20 = df[df['pct-wearing-masks'] == 20]['pct-deaths']
affected40 = df[df['pct-wearing-masks'] == 40]['pct-deaths']
affected60 = df[df['pct-wearing-masks'] == 60]['pct-deaths']
affected80 = df[df['pct-wearing-masks'] == 80]['pct-deaths']
affected100 = df[df['pct-wearing-masks'] == 100]['pct-deaths']
stats.f_oneway(affected0, affected20, affected40, affected60, affected80, affected100)

F_onewayResult(statistic=57638.16641419859, pvalue=0.0)

Because the pvalue for our ANOVA analysis is greater than our alpha value of 0.05, we cannot say that there is a statistically significant difference between the percentage of people who died as a result of the virus for varying percentages of mask wearing.